<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521884876312-khe681739clcl8kh7aap393tah9ckn26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521884876312-khe681739clcl8kh7aap393tah9ckn26</string>
	<key>API_KEY</key>
	<string>AIzaSyCvGdGMqK_6EWyK5t9u4fGL1Z7qGBrUmnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521884876312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mastertipsy.expenses</string>
	<key>PROJECT_ID</key>
	<string>my-expenses-ba972</string>
	<key>STORAGE_BUCKET</key>
	<string>my-expenses-ba972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521884876312:ios:0f6c010e5b26cc28dc8d6d</string>
</dict>
</plist>